<table id="echelle">
    <thead>
        <tr>
            <th>Niveau</th>
            <th>Description synthétique de la gravité</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gravite of gravites">
            <td>{{gravite.niveau}}</td>
            <td>{{gravite.description}}</td>
        </tr>
    </tbody>
</table>