<form [formGroup]="riskForm" (ngSubmit)="addRisk()">

    <mat-form-field appearance="fill">
        <mat-label>Impact</mat-label>
        <mat-select formControlName="impact">
            <mat-option *ngFor="let imp of impacts" [value]="imp">
                {{imp}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Probabilité</mat-label>
        <mat-select formControlName="probabilite">
            <mat-option *ngFor="let prob of probabilites" [value]="prob">
                {{prob}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Criticité</mat-label>
        <mat-select formControlName="criticite">
            <mat-option *ngFor="let crit of criticites" [value]="crit">
                {{crit}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Nature du risque</mat-label>
        <input matInput placeholder="Chute du capitalisme" formControlName="nature_risk">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Le capitalisme s'est effondré" type="text" formControlName="description">
    </mat-form-field>

    <button type="submit">+</button>

</form>