<table id="echelle">
    <thead>
        <tr>
            <th>Classe de Vraissemnlence</th>
            <th>Intitulé générique</th>
            <th>Données quantitatives</th>
            <th>Données qualitatives</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let frequence of frequences">
            <td>{{frequence.classe}}</td>
            <td>{{frequence.intitule}}</td>
            <td>{{frequence.quantitatives}}</td>
            <td>{{frequence.qualitatives}}</td>
        </tr>
    </tbody>
</table>