#echelle {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#echelle td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#echelle tr:nth-child(even) {
  background-color: #f2f2f2;
}

#echelle tr:hover {
  background-color: #ddd;
}

#echelle th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1aa071;
  color: white;
  text-align: center;
}
